In [46]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/yelp-dataset/Dataset_User_Agreement.pdf
/kaggle/input/yelp-dataset/yelp_academic_dataset_review.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_checkin.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_business.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_tip.json
/kaggle/input/yelp-dataset/yelp_academic_dataset_user.json

In [47]:
# Import necessary libraries
import pandas as pd

# Define file paths
review_path = '/kaggle/input/yelp-dataset/yelp_academic_dataset_review.json'
checkin_path = '/kaggle/input/yelp-dataset/yelp_academic_dataset_checkin.json'
business_path = '/kaggle/input/yelp-dataset/yelp_academic_dataset_business.json'
tip_path = '/kaggle/input/yelp-dataset/yelp_academic_dataset_tip.json'
user_path = '/kaggle/input/yelp-dataset/yelp_academic_dataset_user.json'

# Load the data with chunksize for large files to avoid memory issues
chunksize = 50000  # Adjust based on memory availability

# Load a sample chunk to inspect the structure of the review data
review_chunk = pd.read_json(review_path, lines=True, chunksize=chunksize)
review_df = next(review_chunk)
print("Review Data Sample:")
print(review_df.head())
print("\nReview Data Columns:")
print(review_df.columns)

# Load a sample chunk to inspect the structure of the check-in data
checkin_df = pd.read_json(checkin_path, lines=True)
print("\nCheck-in Data Sample:")
print(checkin_df.head())
print("\nCheck-in Data Columns:")
print(checkin_df.columns)

# Load a sample chunk to inspect the structure of the business data
business_chunk = pd.read_json(business_path, lines=True, chunksize=chunksize)
business_df = next(business_chunk)
print("\nBusiness Data Sample:")
print(business_df.head())
print("\nBusiness Data Columns:")
print(business_df.columns)

# Load the entire tip data (smaller file)
tip_df = pd.read_json(tip_path, lines=True)
print("\nTip Data Sample:")
print(tip_df.head())
print("\nTip Data Columns:")
print(tip_df.columns)

# Load the entire user data (smaller file)
user_chunk = pd.read_json(user_path, lines=True, chunksize=chunksize)
user_df = next(user_chunk)
print("\nUser Data Sample:")
print(user_df.head())
print("\nUser Data Columns:")
print(user_df.columns)

# Additional exploration
print("\nSummary of the Review DataFrame:")
print(review_df.info())

print("\nSummary of the Business DataFrame:")
print(business_df.info())

Review Data Sample:
                review_id                 user_id             business_id  \
0  KU_O5udG6zpxOg-VcAEodg  mh_-eMZ6K5RLWhZyISBhwA  XQfwVwDr-v0ZS3_CbbE5Xw
1  BiTunyQ73aT9WBnpR9DZGw  OyoGAe7OKpv6SyGZT5g77Q  7ATYjTIgM3jUlt4UM3IypQ
2  saUsX_uimxRlCVr67Z4Jig  8g_iMtfSiwikVnbP2etR0A  YjUWPpI6HXG530lwP-fb2A
3  AqPFMleE6RsU23_auESxiA  _7bHUi9Uuf5__HHc_Q8guQ  kxX2SOes4o-D3ZQBkiMRfA
4  Sx8TMOWLNuJBWer-0pcmoA  bcjbaE6dDog4jkNY91ncLQ  e4Vwtrqf-wpJfwesgvdgxQ

   stars  useful  funny  cool  \
0      3       0      0     0
1      5       1      0     1
2      3       0      0     0
3      5       1      0     1
4      4       1      0     1

                                                text                date
0  If you decide to eat here, just be aware it is... 2018-07-07 22:09:11
1  I've taken a lot of spin classes over the year... 2012-01-03 15:28:18
2  Family diner. Had the buffet. Eclectic assortm... 2014-02-05 20:30:30
3  Wow!  Yummy, different,  delicious.   Our favo... 2015-01-04 00:01:03
4  Cute interior and owner (?) gave us tour of up... 2017-01-14 20:54:15

Review Data Columns:
Index(['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny',
       'cool', 'text', 'date'],
      dtype='object')

Check-in Data Sample:
              business_id                                               date
0  ---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1  --0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2  --30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22
3  --7PUidqRWpRSpXebiyxTg  2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...
4  --7jw19RH9JKXgFohspgQw  2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...

Check-in Data Columns:
Index(['business_id', 'date'], dtype='object')

Business Data Sample:
              business_id                      name  \
0  Pns2l4eNsfO8kk83dixA6A  Abby Rappoport, LAC, CMQ
1  mpf3x-BjTdTEA3yCZrAYPw             The UPS Store
2  tUFrWirKiKi_TAnsVWINQQ                    Target
3  MTSW4McQd7CbVtyjqoe9mw        St Honore Pastries
4  mWMc6_wTdE0EUBKIGXDVfA  Perkiomen Valley Brewery

                           address           city state postal_code  \
0           1616 Chapala St, Ste 2  Santa Barbara    CA       93101
1  87 Grasso Plaza Shopping Center         Affton    MO       63123
2             5255 E Broadway Blvd         Tucson    AZ       85711
3                      935 Race St   Philadelphia    PA       19107
4                    101 Walnut St     Green Lane    PA       18054

    latitude   longitude  stars  review_count  is_open  \
0  34.426679 -119.711197    5.0             7        0
1  38.551126  -90.335695    3.0            15        1
2  32.223236 -110.880452    3.5            22        0
3  39.955505  -75.155564    4.0            80        1
4  40.338183  -75.471659    4.5            13        1

                                          attributes  \
0                      {'ByAppointmentOnly': 'True'}
1             {'BusinessAcceptsCreditCards': 'True'}
2  {'BikeParking': 'True', 'BusinessAcceptsCredit...
3  {'RestaurantsDelivery': 'False', 'OutdoorSeati...
4  {'BusinessAcceptsCreditCards': 'True', 'Wheelc...

                                          categories  \
0  Doctors, Traditional Chinese Medicine, Naturop...
1  Shipping Centers, Local Services, Notaries, Ma...
2  Department Stores, Shopping, Fashion, Home & G...
3  Restaurants, Food, Bubble Tea, Coffee & Tea, B...
4                          Brewpubs, Breweries, Food

                                               hours
0                                               None
1  {'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ...
2  {'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ...
3  {'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...
4  {'Wednesday': '14:0-22:0', 'Thursday': '16:0-2...

Business Data Columns:
Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours'],
      dtype='object')

Tip Data Sample:
                  user_id             business_id  \
0  AGNUgVwnZUey3gcPCJ76iw  3uLgwr0qeCNMjKenHJwPGQ
1  NBN4MgHP9D3cw--SnauTkA  QoezRbYQncpRqyrLH6Iqjg
2  -copOvldyKh1qr-vzkDEvw  MYoRNLb5chwjQe3c_k37Gg
3  FjMQVZjSqY8syIO-53KFKw  hV-bABTK-glh5wj31ps_Jw
4  ld0AperBXk1h6UbqmM80zw  _uN0OudeJ3Zl_tf6nxg5ww

                                                text                date  \
0                     Avengers time with the ladies. 2012-05-18 02:17:21
1  They have lots of good deserts and tasty cuban... 2013-02-05 18:35:10
2             It's open even when you think it isn't 2013-08-18 00:56:08
3                          Very decent fried chicken 2017-06-27 23:05:38
4             Appetizers.. platter special for lunch 2012-10-06 19:43:09

   compliment_count
0                 0
1                 0
2                 0
3                 0
4                 0

Tip Data Columns:
Index(['user_id', 'business_id', 'text', 'date', 'compliment_count'], dtype='object')

User Data Sample:
                  user_id    name  review_count        yelping_since  useful  \
0  qVc8ODYU5SZjKXVBgXdI7w  Walker           585  2007-01-25 16:47:26    7217
1  j14WgRoU_-2ZE1aw1dXrJg  Daniel          4333  2009-01-25 04:35:42   43091
2  2WnXYQFK0hXEoTxPtV2zvg   Steph           665  2008-07-25 10:41:00    2086
3  SZDeASXq7o05mMNLshsdIA    Gwen           224  2005-11-29 04:38:33     512
4  hA5lMy-EnncsH4JoR-hFGQ   Karen            79  2007-01-05 19:40:59      29

   funny   cool                                              elite  \
0   1259   5994                                               2007
1  13066  27281  2009,2010,2011,2012,2013,2014,2015,2016,2017,2...
2   1010   1003                           2009,2010,2011,2012,2013
3    330    299                                     2009,2010,2011
4     15      7

                                             friends  fans  ...  \
0  NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...   267  ...
1  ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...  3138  ...
2  LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...    52  ...
3  enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...    28  ...
4  PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...     1  ...

   compliment_more  compliment_profile  compliment_cute  compliment_list  \
0               65                  55               56               18
1              264                 184              157              251
2               13                  10               17                3
3                4                   1                6                2
4                1                   0                0                0

   compliment_note  compliment_plain  compliment_cool  compliment_funny  \
0              232               844              467               467
1             1847              7054             3131              3131
2               66                96              119               119
3               12                16               26                26
4                1                 1                0                 0

   compliment_writer  compliment_photos
0                239                180
1               1521               1946
2                 35                 18
3                 10                  9
4                  0                  0

[5 rows x 22 columns]

User Data Columns:
Index(['user_id', 'name', 'review_count', 'yelping_since', 'useful', 'funny',
       'cool', 'elite', 'friends', 'fans', 'average_stars', 'compliment_hot',
       'compliment_more', 'compliment_profile', 'compliment_cute',
       'compliment_list', 'compliment_note', 'compliment_plain',
       'compliment_cool', 'compliment_funny', 'compliment_writer',
       'compliment_photos'],
      dtype='object')

Summary of the Review DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review_id    50000 non-null  object
 1   user_id      50000 non-null  object
 2   business_id  50000 non-null  object
 3   stars        50000 non-null  int64
 4   useful       50000 non-null  int64
 5   funny        50000 non-null  int64
 6   cool         50000 non-null  int64
 7   text         50000 non-null  object
 8   date         50000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 3.4+ MB
None

Summary of the Business DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   50000 non-null  object
 1   name          50000 non-null  object
 2   address       50000 non-null  object
 3   city          50000 non-null  object
 4   state         50000 non-null  object
 5   postal_code   50000 non-null  object
 6   latitude      50000 non-null  float64
 7   longitude     50000 non-null  float64
 8   stars         50000 non-null  float64
 9   review_count  50000 non-null  int64
 10  is_open       50000 non-null  int64
 11  attributes    45539 non-null  object
 12  categories    49963 non-null  object
 13  hours         42266 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 5.3+ MB
None

Top 10 Most Popular Restaurant Categories

In [48]:
# Filter data for restaurants
restaurant_data = business_df[business_df['categories'].str.contains('Restaurant', na=False, case=False)]

# Split the categories column into individual categories
categories_split = restaurant_data['categories'].str.split(', ')
categories_exploded = categories_split.explode()

# Count the occurrences of each category
category_counts = categories_exploded.value_counts().reset_index()
category_counts.columns = ['Category', 'Num_Restaurants']

# Get the top 10 most common categories
top_categories = category_counts.head(10)

# Print the results
print("\nMost common restaurant categories:")
print(top_categories)

Most common restaurant categories:
                 Category  Num_Restaurants
0             Restaurants            17313
1                    Food             5153
2               Nightlife             2817
3              Sandwiches             2726
4                    Bars             2696
5  American (Traditional)             2679
6                   Pizza             2359
7               Fast Food             2091
8      Breakfast & Brunch             2072
9          American (New)             1981

Top 10 Highest-Rated Restaurants

In [49]:
# Filter businesses that are restaurants
restaurant_data = business_df[business_df['categories'].str.contains('Restaurant', na=False, case=False)]

# Select the necessary columns: 'name', 'stars', 'review_count'
restaurant_ratings = restaurant_data[['name', 'stars', 'review_count']]

# Sort by 'stars' in descending order, and then by 'review_count' in descending order
top_rated_restaurants = restaurant_ratings.sort_values(by=['stars', 'review_count'], ascending=[False, False])

# Select the top 10 rows
top_rated_restaurants = top_rated_restaurants.head(10)

# Print the result
print("Top-rated restaurants:")
print(top_rated_restaurants)

Top-rated restaurants:
                            name  stars  review_count
12307            Blues City Deli    5.0           991
16555                   Tumerico    5.0           705
7930                 Cafe Soleil    5.0           468
33175                Kaffe Crepe    5.0           454
29873         Barista Del Barrio    5.0           357
35194            German Bistro 2    5.0           301
31772        Tasty And Delicious    5.0           260
35856                    Tlaolli    5.0           209
35742                   The Poki    5.0           193
37626  The Café at Thistle Farms    5.0           189

Top 10 Most Reviewed Restaurants

In [50]:
# Filter businesses that are restaurants
restaurant_data = business_df[business_df['categories'].str.contains('Restaurant', na=False, case=False)]

# Select the necessary columns: 'name', 'review_count', 'stars'
restaurant_reviews = restaurant_data[['name', 'review_count', 'stars']]

# Sort by 'review_count' in descending order
most_reviewed_restaurants = restaurant_reviews.sort_values(by='review_count', ascending=False)

# Select the top 10 rows
most_reviewed_restaurants = most_reviewed_restaurants.head(10)

# Print the result
print("Restaurants with the highest number of reviews:")
print(most_reviewed_restaurants)

Restaurants with the highest number of reviews:
                              name  review_count  stars
31033                  Royal House          5070    4.0
31332           Commander's Palace          4876    4.5
4497                          Luke          4554    4.0
42331                   Gumbo Shop          3902    4.0
49618               Cochon Butcher          3837    4.5
17899   Drago's Seafood Restaurant          3160    3.5
31165                        Zahav          3065    4.5
41952  Brophy Bros - Santa Barbara          2940    4.0
32326               Peg Leg Porker          2878    4.5
20078                         Parc          2761    4.0

Cities with the Highest Average Restaurant Ratings

In [51]:
# Filter businesses that are restaurants
restaurant_data = business_df[business_df['categories'].str.contains('Restaurant', na=False, case=False)]

# Group by 'city' and calculate the average star rating
average_ratings_by_city = (
    restaurant_data.groupby('city')['stars']
    .mean()
    .reset_index()
    .rename(columns={'stars': 'avg_rating'})
)

# Sort by average rating in descending order
average_ratings_by_city = average_ratings_by_city.sort_values(by='avg_rating', ascending=False)

# Print the result
print("Average star ratings for restaurants in specific cities:")
print(average_ratings_by_city)

Average star ratings for restaurants in specific cities:
                    city  avg_rating
44         Birchrunville         5.0
65            Bryn Athyn         5.0
632     Wilmington Manor         5.0
266            Kalispell         5.0
420  Pennsville Township         5.0
..                   ...         ...
532              St.Rose         1.5
33             Bellville         1.5
286         Land O'Lakes         1.5
148         Eaux Claires         1.5
333        Mc Cordsville         1.5

[658 rows x 2 columns]

Top 10 Peak Check-In Hours for Popular Restaurants

In [52]:
import pandas as pd

# Split and explode the `date` column to handle multiple date entries
checkin_df = checkin_df.copy()  # Make a copy to avoid altering the original DataFrame
checkin_df['date'] = checkin_df['date'].str.split(', ').explode().reset_index(drop=True)

# Convert the `date` column to datetime format
checkin_df['date'] = pd.to_datetime(checkin_df['date'])

# Extract the hour from the `date` column
checkin_df['hour'] = checkin_df['date'].dt.hour

# Group by `business_id` and `hour`, then count the check-ins
checkin_count = (
    checkin_df.groupby(['business_id', 'hour'])
    .size()
    .reset_index(name='checkin_count')
)

# Sort by `checkin_count` in descending order
checkin_count_sorted = checkin_count.sort_values(by='checkin_count', ascending=False)

# Select the top 10 rows
top_peak_checkin_hours = checkin_count_sorted.head(10)

# Print the result
print("Peak check-in hours for popular restaurants:")
print(top_peak_checkin_hours)

Peak check-in hours for popular restaurants:
                  business_id  hour  checkin_count
0      ---kPU91CF4Lq2-WlRu9Lw    21              1
87996  emPRzbSwgwYojuzoElaBcg     3              1
87962  el83zfEgg_5bBz5Et9rZ6Q     2              1
87961  el71vYwT5M1bc6oFsBdqvQ     4              1
87960  el6K1DsZRnKNNaZ14YGMHQ     2              1
87959  el-WV1mOpFmrQOowLnh4aw     2              1
87958  ekz_pi9GepaKVT9DE8cUrg     0              1
87957  ekxvAyD2T5v3GS7n4X_3dQ     0              1
87956  ekt4x3T2vgsnIwbJswishg     4              1
87955  ekrj3Ov-tRqcE9APVlMnHg     1              1

Most Active Users Reviewing Restaurants

In [53]:
# Group by `user_id` and count the number of reviews for each user
user_review_count = (
    review_df.groupby('user_id')
    .size()
    .reset_index(name='review_count')
)

# Sort by `review_count` in descending order
most_active_users = user_review_count.sort_values(by='review_count', ascending=False)

# Select the top 10 rows
most_active_users = most_active_users.head(10)

# Print the result
print("Most active users who visit restaurants:")
print(most_active_users)

Most active users who visit restaurants:
                      user_id  review_count
24934  _BcWyKQL16ndpBdggh2kNA            25
1538   1HM81n6n4iPIFU5d2Lokhw            19
14023  Jt3GylPuH64uA3zTdbMdCg            16
844    0Igx-a1wAstiBDerGxXk2A            15
21229  Um5bfs5DH6eizgjH3xZsvg            13
31096  iPkdNziqnhNukjnmsrSzmg            12
39837  vYMvOTL31e0KbTo9Hd0tjg            11
6044   84HvpQDxcHWmbMDfs8IEYw            11
27056  cIVmIJD7nIiEcVGamfBoVw            11
17908  PnwOegp7RXfMeNAyO9fQhQ            11

Top 5 Most Popular Restaurant Categories

In [54]:
# Filter for restaurants
restaurants = business_df[business_df['categories'].str.contains('Restaurant', na=False)]

# Split categories into individual items, then explode them into separate rows
categories_split = restaurants['categories'].dropna().str.split(', ').explode()

# Count occurrences of each category
category_counts = categories_split.value_counts().reset_index()
category_counts.columns = ['category', 'num_restaurants']

# Get the top 5 most common categories
top_categories = category_counts.head(5)

# Print the result
print("Top 5 most common restaurant categories:")
print(top_categories)

Top 5 most common restaurant categories:
      category  num_restaurants
0  Restaurants            17313
1         Food             5153
2    Nightlife             2817
3   Sandwiches             2726
4         Bars             2696

Average Restaurant Reviews Across the US

In [55]:
# Filter for restaurants
restaurants = business_df[business_df['categories'].str.contains('Restaurant', na=False)]

# Group by state and calculate the average number of reviews
state_avg_reviews = restaurants.groupby('state')['review_count'].mean().reset_index()

# Sort states by the average number of reviews in descending order
state_avg_reviews_sorted = state_avg_reviews.sort_values(by='review_count', ascending=False)

# Print the result
print("Average number of reviews per restaurant by state:")
print(state_avg_reviews_sorted)

Average number of reviews per restaurant by state:
   state  review_count
2     CA    175.405333
10    LA    159.934122
15    NV    136.269928
17    TN     99.261411
1     AZ     97.551570
5     FL     87.566760
11    MO     86.978412
16    PA     85.096951
9     IN     82.072622
7     ID     78.788557
4     DE     51.649351
14    NJ     49.581642
8     IL     36.116071
13    NC     29.000000
0     AB     27.057901
6     HI     17.000000
3     CO     12.000000
12    MT      6.000000

Top 10 Restaurants Currently Open for Dining

In [56]:
import pandas as pd

# Filter restaurants that are open and have "Restaurant" in their categories
open_restaurants = business_df[
    (business_df['is_open'] == 1) & 
    (business_df['categories'].str.contains('Restaurant', na=False))
]

# Sort by stars (descending) and review_count (descending)
open_restaurants_sorted = open_restaurants.sort_values(
    by=['stars', 'review_count'], ascending=[False, False]
)

# Select the top 10 restaurants
top_open_restaurants = open_restaurants_sorted[['name', 'city', 'stars', 'review_count']].head(10)

# Print the results
print("Restaurants that are currently open:")
print(top_open_restaurants)

Restaurants that are currently open:
                            name            city  stars  review_count
12307            Blues City Deli     Saint Louis    5.0           991
16555                   Tumerico          Tucson    5.0           705
7930                 Cafe Soleil  St. Pete Beach    5.0           468
33175                Kaffe Crepe            Reno    5.0           454
29873         Barista Del Barrio          Tucson    5.0           357
35194            German Bistro 2           Largo    5.0           301
31772        Tasty And Delicious       Nashville    5.0           260
35856                    Tlaolli    Indianapolis    5.0           209
35742                   The Poki       Brentwood    5.0           193
37626  The Café at Thistle Farms       Nashville    5.0           189

Number of Restaurants Across US States

In [57]:
import pandas as pd

# Filter businesses that are restaurants
restaurants = business_df[
    business_df['categories'].str.contains('Restaurant', na=False)
]

# Group by state and count the number of restaurants
restaurant_counts_by_state = restaurants.groupby('state').size().reset_index(name='num_restaurants')

# Sort by the number of restaurants in descending order
restaurant_counts_sorted = restaurant_counts_by_state.sort_values(by='num_restaurants', ascending=False)

# Print the results
print("Number of restaurants in each state:")
print(restaurant_counts_sorted)

Number of restaurants in each state:
   state  num_restaurants
16    PA             4198
5     FL             2846
17    TN             1446
11    MO             1436
9     IN             1377
10    LA             1184
14    NJ             1133
1     AZ              892
0     AB              829
15    NV              552
7     ID              402
2     CA              375
8     IL              336
4     DE              308
6     HI                1
3     CO                1
12    MT                1
13    NC                1